@mixin text($fontSize, $fontWeight, $color:$textColor1) {
    font-family: $primaryFontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
  }
  @mixin containerWidth{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
  @mixin unsetAll{
    all: unset;
  }

  @mixin for-phone-only{
    @media screen and (max-width:768px){
      @content;
    }
  }

  @mixin for-tablet-down{
    @media screen and (max-width:1200px){
      @content;
    }
  }

  @mixin for-destkop-down{
    @media screen and (max-width:1512px){
      @content;
    }
  }

  @mixin for-large-screen-only{
    @media screen and (min-width:1200px){
      @content;
    }
  }